.abc{
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    width: 350px;
    height: 200px;
    text-align: center;
    align-content: center;
    margin: 50px auto;
    position: relative;
}
@property --xyz{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.abc::after,.abc::before{
    border-radius: 10px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--xyz),red,yellow,cyan,magenta,palegreen,lightblue,darkblue,red);
    z-index: -1;
    padding: 5px;
    animation: neon 2s linear infinite;
}
.abc::before{
    z-index: -2;
    filter: blur(20px);
    opacity: 0.7;
}
.abc:hover::after,.abc:hover::before{
    animation: neon 2s linear infinite reverse;
}
@keyframes neon{
    from{
        --xyz:0deg;
    }
    to{
        --xyz:360deg;
    }
}
 .bcd{
    background-color: black;
    color: aliceblue;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    align-content: center;
    position: relative;
 }
 .bcd::after,.bcd::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--ang),yellow 0deg,transparent 90deg 180deg,yellow 180deg,transparent 270deg 360deg);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: d2 2s linear infinite;
 }
 .bcd::before{
    filter: blur(20px);
    z-index: -2;
 }
 .bcd:hover::after,.bcd:hover:before{
    background-image: conic-gradient(from var(--ang),rgb(31, 234, 253) 0deg,transparent 90deg 180deg,rgb(31, 234, 253) 180deg,transparent 270deg 360deg);
 }
 @property --ang{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
 }
 @keyframes d2{
    from{
        --ang:0deg;
    }
    to{
        --ang:360deg;
    }
 }